@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Você entrou na página de privacidade.</p>
<p>Aqui não existe nenhum termo ou politica de privacidade para nenhum contrato, tudo está liberado! </p>
<p>Volte a realizar o cadastro de seus compradores, obrigada pela sua visita!!</p>
<img src="@Url.Content("~/imagem/fubaestacomfome.jpg")" alt="meu gato chamado fuba" class="img-fluid" />


